@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Ensure the app spans the full viewport and remove default body margins */
	html,
	body,
	#svelte {
		height: 100%;
		width: 100%;
		margin: 0;
		/* TODO: let this be configurable in then settings */
		font-size: larger;
	}

	body {
		@apply bg-black;
		min-height: 100vh;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hidden {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
	}
}

.no-longpress, .no-longpress img, .no-longpress svg {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none; /* iOS */
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}